{
    "ExternalCommands": [
        {
            "External_Command_ID": "EnvironmentWater_ON",
            "Haptic_Events": [
                {
                    "Haptic_Effect": "EnvironmentWater_ON",
                    "Loop": "infinity",
                    "Mixing": "Merge",
                    "Targeting": [
                        {
                            "Gain": 1.0,
                            "Spatialization": "Global",
                            "Target": "All"
                        }
                    ]
                }
            ]
        },
        {
            "External_Command_ID": "EnvironmentWater_OFF",
            "Interrupts_Commands": [
                "EnvironmentWater_ON"
            ]
        }
    ]
}